<div class="col-lg-5 col-xl-4 d-flex flex-column gap-40">
    <div class="job__overview">
        <h6 class="fw-semibold mb-20">Job Overview</h6>
        <div class="job__overview__content">
            <ul>
                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                    <span class="left-text"> <i class="fa-regular fa-pen-to-square"></i> Qualification</span>
                    <span class="text">: Bachelor Degree</span>
                </li>
                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                    <span class="left-text"> <i class="fa-solid fa-ranking-star"></i> Experience</span>
                    <span class="text">: 2 Year</span>
                </li>
                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                    <span class="left-text"> <i class="fa-solid fa-tag"></i> Offered Salary</span>
                    <span class="text">: $2000-$3000</span>
                </li>
                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                    <span class="left-text"> <i class="fa-regular fa-hourglass"></i> Job Deadline</span>
                    <span class="text">: 01 July 2024</span>
                </li>
                <li class="d-flex flex-wrap gap-3 gap-sm-0 align-items-center justify-content-between">
                    <span class="left-text"> <i class="fa-solid fa-location-dot"></i> Location</span>
                    <span class="text">: New York, USA</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- share  -->
    <div class="job__contact d-flex align-items-center gap-3">
        <h6 class="fw-semibold mb-0">Share</h6>
        <div class="rts__social sidebar d-flex gap-3">
            <a target="_blank" href="https://facebook.com" aria-label="facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a target="_blank" href="https://instagram.com" aria-label="instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a target="_blank" href="https://linkedin.com" aria-label="linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://pinterest.com" aria-label="pinterest">
                <i class="fa-brands fa-pinterest"></i>
            </a>
            <a target="_blank" href="https://youtube.com" aria-label="youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
    <!-- share end -->
    <div class="job__contact">
        <h6 class="fw-semibold mb-20">Contact Google.com</h6>
        <form action="#" class="d-flex flex-column gap-4">
            <div class="search__item">
                <label for="gemail" class="mb-3 font-20 fw-medium text-dark text-capitalize">Your Email</label>
                <div class="position-relative">
                    <input type="email" id="gemail" placeholder="Enter your email">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>

            <div class="search__item">
                <label for="gphone" class="mb-3 font-20 fw-medium text-dark text-capitalize">Phone</label>
                <div class="position-relative">
                    <input type="text" id="gphone" placeholder="(+88)154-678789">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </div>
            <div class="search__item">
                <label class="mb-3 font-20 fw-medium text-dark text-capitalize" for="gmessage">Your Message</label>
                <textarea name="message" id="gmessage" placeholder="Message" style="height: 88px;"></textarea>
                <i class="fa-regular fa-comment-dots"></i>
            </div>
            <button type="submit" class="rts__btn fill__btn be-1 apply__btn w-100">Send a Message</button>
        </form>
    </div>
</div>