.job__overview {
    background: linear-gradient(228.42deg, #FEF2EB 0%, #F1F1F1 46.48%, #E4E0EA 100.36%);
    padding: 30px;
    border-radius: 10px;

    .job__overview__content {
        ul {
            padding: 0;

            li {
                padding-bottom: 15px;
                margin-top: 15px;
                border-bottom: 1px solid rgba(125, 128, 135, 0.2);

                &:last-child {
                    border-bottom: none;
                }

                .left-text {
                    color: var(--rts-heading);
                    font-weight: 500;
                    display: flex;
                    gap: 15px;
                    align-items: center;

                    i {
                        color: var(--rts-primary);
                        font-size: 20px;
                    }

                }

                .text {
                    font-weight: 400;
                    font-size: 16px;
                }

            }
        }
    }
}


.gap-40 {
    gap: 40px;
}

.job__contact {
    background: linear-gradient(228.42deg, #FEF2EB 0%, #F1F1F1 46.48%, #E4E0EA 100.36%);
    padding: 30px;
    border-radius: 10px;

    .search__item {
        position: relative;

        label {
            line-height: 1;
        }

        i {
            color: #939393;
            font-size: 17px;
        }

        textarea {
            height: 105px;
            width: 100%;
            border-radius: 4px;
            border: none;
            padding: 15px 20px;
            padding-left: 45px;
            line-height: 1;
        }
        
    }

}

.job__overview h6,.job__contact h6 {
    font-size: var(--h6);
    line-height: 30px;
    color: var(--rts-heading);
    font-weight: 700;
}

.apply__btn {
    padding: 15px 18px;
    border-radius: 6px;
    transition: var(--transition);
    line-height: 1.2;
}