.rts__pagination{

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            a {
                height: 48px;
                width: 48px;
                border-radius: 6px;
                border: 1px solid rgba(125, 128, 135, 0.3);
                display: grid;
                place-items: center;
                color: var(--rts-para);
                position: relative;
                z-index: 1;
                transition: var(--transition);
                text-decoration: none;

                &:hover {
                    border-color: var(--rts-button-1);
                    background-color: var(--rts-button-1);
                    color: var(--rts-white);
                }
            }

            .inactive{
                border: none;

                &:hover {
                    color: var(--rts-heading);
                    cursor: not-allowed;
                    border: none;
                }
                
                &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0;
                border-radius: inherit;
                z-index: -1;
                background: linear-gradient(228.49deg, #FEF2EB 0%, #F1F1F1 46.42%, #E4E0EA 100.23%);
                border-radius: 6px;
            }
        }
        }
    }
}

.max-content {
    max-width: max-content;
}
