<div class="row g-30">
    <div class="col-lg-12">
        <div
            class="rts__job__card__list style__gradient flex-wrap justify-content-between d-flex gap-4 align-items-center">
            <div class="d-flex flex-wrap flex-md-nowrap flex-lg-wrap flex-xl-nowrap gap-4 align-items-center">
                <div class="company__icon rounded-2">
                    <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/company/apple.svg" alt="">
                </div>
                <div class="job__meta w-100 d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <a href="#" class="job__title h6 mb-0">Senior UI Designer, Apple</a>
                    </div>
                    <div class="d-flex gap-3 gap-md-4 flex-wrap mb-2">
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fa-solid fa-location-dot"></i> Newyork, USA
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fa-solid fa-briefcase"></i> Full Time
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fa-regular fa-clock"></i> 1 Years Ago
                        </div>
                    </div>
                    <div class="job__tags d-flex flex-wrap gap-3">
                        <a href="#">Creative</a>
                        <a href="#">user interface</a>
                        <a href="#">web ui</a>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="bookmark__btn"><i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div
            class="rts__job__card__list style__gradient flex-wrap justify-content-between d-flex gap-4 align-items-center">
            <div class="d-flex flex-wrap flex-md-nowrap flex-lg-wrap flex-xl-nowrap gap-4 align-items-center">
                <div class="company__icon rounded-2">
                    <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/company/apple.svg" alt="">
                </div>
                <div class="job__meta w-100 d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between align-items-center gap-3">
                        <a href="#" class="job__title h6 mb-0">Senior UI Designer, Apple</a>
                    </div>
                    <div class="d-flex gap-3 gap-md-4 flex-wrap mb-2">
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fa-solid fa-location-dot"></i> Newyork, USA
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fa-solid fa-briefcase"></i> Full Time
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <i class="fa-regular fa-clock"></i> 1 Years Ago
                        </div>
                    </div>
                    <div class="job__tags d-flex flex-wrap gap-3">
                        <a href="#">Creative</a>
                        <a href="#">user interface</a>
                        <a href="#">web ui</a>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="bookmark__btn"><i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const gridButton = document.querySelector('.grid-style');
    const listButton = document.querySelector('.list-style');
    const gridView = document.getElementById('grid');
    const listView = document.getElementById('list');

    gridButton.addEventListener('click', function() {
        gridView.classList.add('active', 'show');
        listView.classList.remove('active', 'show');
        gridButton.classList.add('active');
        listButton.classList.remove('active');
    });

    listButton.addEventListener('click', function() {
        listView.classList.add('active', 'show');
        gridView.classList.remove('active', 'show');
        listButton.classList.add('active');
        gridButton.classList.remove('active');
    });
});
</script>