<div class="row g-30">
    <div class="col-xl-6 col-md-6 col-lg-12">
        <div class="rts__job__card">
            <div class="d-flex align-items-center justify-content-between">
                <div class="company__icon">
                    <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/company/google.svg" alt="">
                </div>
                <div class="featured__option">

                </div>
            </div>
            <div class="d-flex gap-3 flex-wrap mt-4">
                <div class="d-flex gap-1 align-items-center">
                    <i class="fa-solid fa-location-dot"></i> Newyork, USA
                </div>
                <div class="d-flex gap-1 align-items-center">
                    <i class="fa-solid fa-briefcase"></i> Full Time
                </div>
            </div>
            <div class="h6 job__title my-3">
                <a href="#" aria-label="job">
                    Senior UX Designer, Google
                </a>
            </div>
            <p>Consectetur adipisicing elit. Possimus
                aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
            </p>
            <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                <a href="#">Creative</a>
                <a href="#">user interface</a>
                <a href="#">web ui</a>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6 col-lg-12">
        <div class="rts__job__card">
            <div class="d-flex align-items-center justify-content-between">
                <div class="company__icon">
                    <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/company/google.svg" alt="">
                </div>
                <div class="featured__option">

                </div>
            </div>
            <div class="d-flex gap-3 flex-wrap mt-4">
                <div class="d-flex gap-1 align-items-center">
                    <i class="fa-solid fa-location-dot"></i> Newyork, USA
                </div>
                <div class="d-flex gap-1 align-items-center">
                    <i class="fa-solid fa-briefcase"></i> Full Time
                </div>
            </div>
            <div class="h6 job__title my-3">
                <a href="#" aria-label="job">
                    Senior UX Designer, Google
                </a>
            </div>
            <p>Consectetur adipisicing elit. Possimus
                aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
            </p>
            <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                <a href="#">Creative</a>
                <a href="#">user interface</a>
                <a href="#">web ui</a>
            </div>
        </div>
    </div>
</div>