<div class="rts__section rts__brand pb-120 pt-50 text-center">
    <div class="container">
        <div class="row">
            <div class="section__title mb-40">
                <span class="h6 d-block fw-semibold">Trusted by 300+ leading companies</span>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="swiper mySwiper-company">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image1.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image2.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image3.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image4.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image5.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image1.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/linkedin-logo-png-20321.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/b51.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image1.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image2.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image3.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image4.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image5.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image1.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/linkedin-logo-png-20321.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/b51.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image1.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="	https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image2.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image3.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image4.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image5.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand__item">
                            <a href="#" class="brand__item__link" aria-label="brand">
                                <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/brand/image1.svg"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper-company", {
        slidesPerView: 7,
        spaceBetween: 30,
        loop: true,
        speed: 1000,
        autoplay: {
            delay: 7000
        },
        breakpoints: {
            0: {
                slidesPerView: 2
            },
            480: {
                slidesPerView: 3
            },
            768: {
                slidesPerView: 4
            },
            1024: {
                slidesPerView: 4
            },
            1200: {
                slidesPerView: 6
            },
            1400: {
                slidesPerView: 7
            }
        }
    });
</script>