.home__one__banner {
  position: relative;
  overflow: hidden;
}
.home__one__banner .rts__banner__background {
  background-image: url(https://html.themewant.com/jobpath/template/assets/img/home-1/banner/header__background.svg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home__one__banner .rts__banner__background .__first {
  position: absolute;
  left: -3%;
  top: 0;
}
.home__one__banner .rts__banner__background .__second {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.home__one__banner .rts__banner__content {
  position: relative;
  z-index: 1;
  max-width: 675px;
}
.home__one__banner .rts__banner__content .rts__banner__title {
  font-size: var(--h1);
  line-height: 90px;
  color: var(--rts-heading);
  font-weight: 700;
  letter-spacing: -1px;
}
.home__one__banner .rts__banner__content .rts__banner__title span {
  color: var(--rts-button-1);
}
.home__one__banner .rts__banner__content .rts__job__search {
  background: #FFFFFF;
  box-shadow: 0px 30px 30px rgba(175, 175, 175, 0.16);
  border-radius: 16px;
  padding: 22px 20px;
  position: relative;
  z-index: 99;
}
.home__one__banner .rts__banner__content .rts__job__search .single__input {
  min-width: 190px;
}
.home__one__banner .rts__banner__content .rts__job__search .single__input label {
  font-size: 20px;
  font-weight: 500;
  color: var(--rts-heading);
  margin-bottom: 15px;
  text-transform: capitalize;
  letter-spacing: -1px;
  line-height: 1;
}
.home__one__banner .rts__banner__content .rts__job__search .single__input .nice-select {
  border: none;
  padding: 0;
  font-size: 18px;
  height: auto;
  line-height: 1;
}
.home__one__banner .rts__banner__content .rts__job__search .job__search {
  min-width: 160px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}
.home__one__banner .rts__banner__image {
  margin-top: -90px;
  z-index: 1;
}
.home__one__banner .rts__banner__image .banner__image {
  margin: 0;
}
.home__one__banner .rts__banner__image .banner__image__shape {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.home__one__banner .rts__banner__image .banner__image__shape .facebook, .home__one__banner .rts__banner__image .banner__image__shape .twitter, .home__one__banner .rts__banner__image .banner__image__shape .linkedin {
  height: 62px;
  width: 62px;
  border-radius: 6px;
  background-color: var(--rts-white);
  font-size: 30px;
  display: grid;
  place-items: center;
  color: #7763e5;
  position: absolute;
  top: 0;
  left: 25%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.home__one__banner .rts__banner__image .banner__image__shape .twitter {
  color: var(--color-success);
  position: absolute;
  top: 22%;
  left: 5%;
}
.home__one__banner .rts__banner__image .banner__image__shape .linkedin {
  color: var(--rts-heading);
  position: absolute;
  top: 28%;
  left: 88%;
}

.pt-260 {
  padding-top: 260px;
}

.my-40 {
  margin: 40px 0;
}/*# sourceMappingURL=home-background.css.map */