.home__one__banner {
    position: relative;
    overflow: hidden;

    .rts__banner__background {
        background-image: url(https://html.themewant.com/jobpath/template/assets/img/home-1/banner/header__background.svg);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .__first {
            position: absolute;
            left: -3%;
            top: 0;
        }

        .__second {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

    }

    .rts__banner__content {
        position: relative;
        z-index: 1;
        max-width: 675px;

        .rts__banner__title {
            font-size: var(--h1);
            line-height: 90px;
            color: var(--rts-heading);
            font-weight: 700;
            letter-spacing: -1px;

            span {
                color: var(--rts-button-1);
            }
        }

        .rts__job__search {
            background: #FFFFFF;
            box-shadow: 0px 30px 30px rgba(175, 175, 175, 0.16);
            border-radius: 16px;
            padding: 22px 20px;
            position: relative;
            z-index: 99;

            .single__input {
                min-width: 190px;

                label {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--rts-heading);
                    margin-bottom: 15px;
                    text-transform: capitalize;
                    letter-spacing: -1px;
                    line-height: 1;
                }

                .nice-select {
                    border: none;
                    padding: 0;
                    font-size: 18px;
                    height: auto;
                    line-height: 1;
                }
            }

            .job__search {
                min-width: 160px;
                height: 60px;
                text-align: center;
                border-radius: 10px;
            }

        }

    }

    .rts__banner__image {
        margin-top: -90px;
        z-index: 1;

        .banner__image {
            margin: 0;
        }

        .banner__image__shape {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;

            .facebook,.twitter,.linkedin {
                height: 62px;
                width: 62px;
                border-radius: 6px;
                background-color: var(--rts-white);
                font-size: 30px;
                display: grid;
                place-items: center;
                color: #7763e5;
                position: absolute;
                top: 0;
                left: 25%;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
            }

            .twitter {
                color: var(--color-success);
                position: absolute;
                top: 22%;
                left: 5%;
            }

            .linkedin {
                color: var(--rts-heading);
                position: absolute;
                top: 28%;
                left: 88%;
            }
            
        }
    }

}

.pt-260 {
    padding-top: 260px;
}

.my-40 {
    margin: 40px 0;
}