<div class="col-lg-7 col-xl-8">
    <div class="rts__job__details">
        <div id="description" class="mb-30">
            <h6 class="fw-semibold mb-20">About Candidate</h6>
            <p>We are seeking a skilled Part-Time Software Engineer to join our team, specializing in social media content creation for lead generation purposes. The ideal candidate will have a creative flair, technical proficiency, and a strong understanding of social media trends and algorithms. Must be able to work Monday-Friday during EST business hours. This role will be under the ScaledOn brand, but will be working directly with one of our partners as their dedicated Software Engineer.</p>
        </div>
        <div id="responsibility" class="mb-30">
            <h6 class="fw-semibold mb-20">Education</h6>
            <ul class="timeline">
                <li>
                    <span class="timeline__title d-block">California Institute of Technology</span>
                    <span class="timeline__subtitle d-block">Master of Science in Computer Science   (2014- 2015)</span>
                    <p class="mt-2 fw-medium">CareerBuilder offers a complete career portal, helping job seekers find better career opportunities and bridge skill gaps through a partnership with Capella Learning Solutions.</p>
                </li>
                <li>
                    <span class="timeline__title d-block">University of California, Berkeley</span>
                    <span class="timeline__subtitle d-block">B. Sc. in Computer Science and Engineering   (2010- 2014)</span>
                    <p class="mt-2 fw-medium">CareerBuilder offers a complete career portal, helping job seekers find better career opportunities and bridge skill gaps through a partnership with Capella Learning Solutions.</p>
                </li>
                <li>
                    <span class="timeline__title d-block">University of California, Berkeley</span>
                    <span class="timeline__subtitle d-block">B. Sc. in Computer Science and Engineering   (2010- 2014)</span>
                    <p class="mt-2 fw-medium">CareerBuilder offers a complete career portal, helping job seekers find better career opportunities and bridge skill gaps through a partnership with Capella Learning Solutions.</p>
                </li>
            </ul>
        </div>
        <div id="experience" class="mb-30">
            <h6 class="fw-semibold mb-20 text-capitalize">experience</h6>
            <ul class="timeline">
                <li>
                    <span class="timeline__title d-block">Software Engineer</span>
                    <span class="timeline__subtitle d-block">Reactheme   (2016- Present)</span>
                    <p class="mt-2 fw-medium">Software engineers&nbsp;apply engineering principles and knowledge of programming languages to build software solutions for end users.</p>
                </li>
            </ul>
        </div>  
        <div id="skill" class="mb-30">
            <h6 class="fw-semibold mb-20">Skills and Experience</h6>
            <div class="job__tags job__details__tags">
                <a href="#" class="job__tag">Javascript</a>
                <a href="#" class="job__tag">user interface</a>
                <a href="#" class="job__tag">Problem Solving</a>
            </div>
        </div>
        <h6 class="fw-semibold text-capitalize mb-30 mt-30">Awward</h6>
        <ul class="timeline">
            <li>
                <span class="timeline__title d-block">2015 IEEE CS TCSE&nbsp;Distinguished Education Award</span>
                <span class="timeline__subtitle d-block">2015</span>
                <p class="mt-2 fw-medium">In a world adorned with stars, where excellence glimmers like distant constellations, there exists a singular moment that transcends the ordinary, capturing the essence of brilliance in its purest form.</p>
            </li>
            <li>
                <span class="timeline__title d-block">2024 IEEE CS TCSE Rising Star Award</span>
                <span class="timeline__subtitle d-block">2014</span>
                <p class="mt-2 fw-medium">In a world adorned with stars, where excellence glimmers like distant constellations, there exists a singular moment that transcends the ordinary, capturing the essence of brilliance in its purest form.</p>
            </li>
        </ul>
    </div>
</div>