<header class="rts__section rts__header absolute__header">
    <div class="container-none">
       <div class="rts__menu__background px-5">
          <div class="row">
            <div class="d-flex align-items-center justify-content-between">
             <div>
                <a href="#">
                   <img class="logo_img" src="https://html.themewant.com/jobpath/template/assets/img/logo/header__one.svg" alt="">
                </a>
             </div>
             <div class="menu d-flex gap-5 gap-lg-4 gap-xl-5 align-items-center">
                <div class="navigation d-none d-lg-block">
                   <nav class="navigation__menu" style="display: block;">
                      <ul class="list-unstyled">
                         <li class="navigation__menu--item has-child has-arrow">
                           <a class="navigation__menu--item__link" href="#">Home</a>
                         </li>
                         <li class="navigation__menu--item has-child has-arrow">
                            <a class="navigation__menu--item__link" href="#">Brows Jobs</a>
                        </li>
                          <li class="navigation__menu--item has-child has-arrow">
                            <a class="navigation__menu--item__link" href="#">Employers</a>
                          </li>
                          <li class="navigation__menu--item has-child has-arrow">
                            <a class="navigation__menu--item__link" href="#">Candidates</a>
                          </li>
                          <li class="navigation__menu--item has-child has-arrow">
                            <a class="navigation__menu--item__link" href="#">Pages</a>
                          </li>
                          <li class="navigation__menu--item has-child has-arrow">
                            <a class="navigation__menu--item__link" href="#">Contact</a>
                          </li>
                       </ul>
                   </nav>
                </div>
                <div class="header__right__btn d-flex gap-3">
                    <a href="#" class="small__btn d-none d-sm-flex no__fill__btn border-6 font-xs align-items-center justify-content-center gap-3" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="fa-solid fa-arrow-right-to-bracket"></i>Sign In</a>
                    <a href="employer-dash-jobpost.html" class="small__btn d-none d-sm-flex d-xl-flex fill__btn border-6 font-xs align-items-center justify-content-center gap-3" aria-label="Job Posting Button">Add Job</a>
                    <button class="d-md-block d-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-solid fa-bars"></i></button>
                </div>
                
             </div>
            </div>
          </div>
       </div>
    </div>
 </header>