.offcanvas {
    padding: 30px;

    .mean-bar {
        padding: 4px 0;
        background: transparent;

        .list-unstyled {
            display: block !important;

            li {
                margin: 0;

                a {
                    padding: 10px 15px;
                    text-transform: capitalize;
                    color: var(--rts-heading);
                    border-top: 1px solid;
                    border-color: rgba(125, 128, 135, 0.3)
                }

                .mean-expand {
                    width: 60px;
                    height: auto;
                    border: unset;
                    background: unset;
                    font-weight: normal;
                    position: absolute;
                    right: 0;
                    top: 0;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
}