.pb-120 {
    padding-bottom: 120px;
}

.mb-60 {
    margin-bottom: 60px;
}

.rts__author__card__big {
    border: 1px solid #DCDDDF;
    box-shadow: unset !important;
    padding: 30px;
    border-radius: 10px;
    background: var(--rts-white);
    position: relative;

    &:hover .apply__btn {
        background-color: var(--rts-button-1);
        color: var(--rts-white);
    }

    &:hover .job__tags a {
        background-color: var(--rts-white);
    }
    

    .author__icon {
        img {
            height: 60px;
            min-width: 60px;
            border-radius: 6px;
        }
    }

    .job__meta {
        i {
            color: var(--rts-heading);
        }
    }

    .job__tags {
        a {
            border-radius: 6px;
            background-color: var(--rts-gray);
            padding: 5px 10px;
            background-color: var(--rts-gray);
            font-weight: 500;
            color: var(--rts-para);
            line-height: 1.2;
            text-transform: capitalize;
            transition: var(--transition);
            border: 1px solid #F1F1F1;
            font-size: 16px;

            &:hover {
                background-color: var(--rts-white);
                color: var(--rts-heading);
            }
        }
    }

    .apply__btn {
        background-color: #F1F1F1;
        color: var(--rts-heading);
    }

}

.rts__author__card__big .rts__author__card__big {
    row-gap: 1rem !important;
    column-gap: 3rem !important;
}