.mb-40 {
    margin-bottom: 40px;
}

.top__query {

    .text-dark {
        color: var(--rts-heading);
    }

    .category-select {
        min-width: 180px;

        .nice-select {
            background-color: var(--rts-gray);
            border: none;
            padding: 0 50px 1px 20px;

            .current {
                color: var(--rts-heading);
            }
        }

    }

    .grid-style,
    .list-style {
        padding: 10px 12px;
        border-radius: 6px;
        color: var(--rts-heading);
        gap: 8px;
        line-height: 1 !important;
    }
}