<div class="top__query mb-40 d-flex flex-wrap gap-4 justify-content-between align-items-center">
    <span class="text-dark font-20 fw-medium">Showing 1-9 of 19 results</span>
    <div class="d-flex flex-wrap align-items-center gap-4">
        <form action="#" class="category-select">
            <div class="position-relative">
                <div class="nice-select" tabindex="0" id="allcategory-drop">
                    <span class="current">All Category</span>
                    <ul class="list">
                        <li data-value="Nothing" data-display="All Category" class="option focus selected">All Category</li>
                        <li data-value="1" class="option">Part Time</li>
                        <li data-value="2" class="option">Full Time</li>
                        <li data-value="3" class="option">Government</li>
                        <li data-value="4" class="option">NGO</li>
                        <li data-value="5" class="option">Private</li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="d-flex align-items-center gap-3" id="nav-tab" role="tablist">
            <button class="rts__btn no__fill__btn grid-style nav-link active" data-bs-toggle="tab" data-bs-target="#grid" aria-selected="true" role="tab"> <i class="fa-solid fa-border-all"></i> Grid</button>
            <button class="rts__btn no__fill__btn list-style nav-link" data-bs-toggle="tab" data-bs-target="#list" aria-selected="false" role="tab" tabindex="-1"> <i class="fa-solid fa-list"></i> List</button>
        </div>
    </div>
</div>