<section class="rts__section section__padding">
    <div class="container">
        <div class="row justify-content-center mb-60">
            <div class="col-xl-6 col-lg-10">
                <div class="rts__section__content text-center wow  fadeInUp animated"
                    style="visibility: visible; animation-name: fadeInUp;">
                    <h3 class="rts__section__title section__mb">There Are More Then 1000+ Jobs in Jobpath</h3>
                    <p class="rts__section__desc">From entry-level positions to executive roles browse through.</p>
                </div>
            </div>
        </div>
        <div class="row g-30 wow  fadeInUp animated" data-wow-delay=".0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
            <!-- single job -->
            <div class="col-lg-6 col-xl-4 col-md-6">
                <div class="rts__job__card">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="company__icon">
                            <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/company/apple.svg" alt="">
                        </div>
                        <div class="featured__option">
                            <span>Featured</span>
                        </div>
                    </div>
                    <div class="d-flex gap-3 mt-4 flex-wrap">
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-solid fa-location-dot"></i> Newyork, USA
                        </div>
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-solid fa-briefcase"></i> Full Time
                        </div>
                    </div>
                    <div class="h6 job__title my-3">
                        <a href="job-details-1.html" aria-label="job">
                            Senior UI Designer, Apple
                        </a>
                    </div>
                    <p>Consectetur adipisicing elit. Possimus 
                        aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                    </p>
                    <div class="job__tags d-flex flex-wrap gap-3 mt-4">
                        <a href="#">Creative</a>
                        <a href="#">user interface</a>
                        <a href="#">web ui</a>
                    </div>
                </div>
            </div>
            <!-- single job end -->
            <!-- single job -->
            <div class="col-lg-6 col-xl-4 col-md-6">
                <div class="rts__job__card">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="company__icon">
                            <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/company/google.svg" alt="">
                        </div>
                        <div class="featured__option">
                          
                        </div>
                    </div>
                    <div class="d-flex gap-3 mt-4 flex-wrap">
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-solid fa-location-dot"></i> Newyork, USA
                        </div>
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-solid fa-briefcase"></i> Full Time
                        </div>
                    </div>
                    <div class="h6 job__title my-3">
                        <a href="job-details-1.html" aria-label="job">
                            Senior UX Designer, Google
                        </a>
                    </div>
                    <p>Consectetur adipisicing elit. Possimus 
                        aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                    </p>
                    <div class="job__tags d-flex flex-wrap gap-3 mt-4">
                        <a href="#">Creative</a>
                        <a href="#">user interface</a>
                        <a href="#">web ui</a>
                    </div>
                </div>
            </div>
            <!-- single job end -->
            <!-- single job -->
            <div class="col-lg-6 col-xl-4 col-md-6">
                <div class="rts__job__card">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="company__icon">
                            <img src="https://html.themewant.com/jobpath/template/assets/img/home-1/company/microsoft.svg" alt="">
                        </div>
                        <div class="featured__option">
                            
                        </div>
                    </div>
                    <div class="d-flex gap-3 mt-4 flex-wrap">
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-solid fa-location-dot"></i> Newyork, USA
                        </div>
                        <div class="d-flex gap-1 align-items-center">
                            <i class="fa-solid fa-briefcase"></i> Full Time
                        </div>
                    </div>
                    <div class="h6 job__title my-3">
                        <a href="job-details-1.html" aria-label="job">
                            Software Engineer, Apple
                        </a>
                    </div>
                    <p>Consectetur adipisicing elit. Possimus 
                        aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                    </p>
                    <div class="job__tags d-flex flex-wrap gap-3 mt-4">
                        <a href="#">Creative</a>
                        <a href="#">user interface</a>
                        <a href="#">web ui</a>
                    </div>
                </div>
            </div>
            <!-- single job end -->
        </div>
    </div>
</section>